
<div class="container">
  <% if current_user %>
  <div class="card big-card mt-3" >
  <div class="card-header" style="font-size:25px">
      <div class="row ">
            <div class="m-0 col-4 text-center">Welcome <%=current_user.name%> to Rapvote </div>
            <div class="col col-4 text-center">
              Tổng số lượt bình chọn: <strong><%= get_total_votes%></strong>
            </div>  
            <div class ="col col-4"style="font-size:">Count down: <strong class="" id="demo"></strong></div>  
      </div>  
  </div>

  <div class="card-body ml-5   ">
     <%if current_user.voted%>
             <div class="row">
              <div class="col col-5 d-flex flex-column " style="font-size:20px">
                <%if current_user.voted%>
                  <div class="mt-3">Bạn đã vote cho <strong><%=current_user.get_voted_rapper.name%></strong> </div>
                  <%if current_user.add_lucky_number%>
                    <div class="">Your lucky number: <%=current_user.lucky_number%> </div>
                  <%else%>
                     <% if !current_user.add_lucky_number %> 
                      <%= render 'rappers/form', rapper: current_user.get_voted_rapper, :data => {:confirm => "Bạn có chắc mình muốn chọn số này ?? tại vì bạn không thể đổi lại đâu"} %>
                    <%end%>
                  <%end%>
                <%end%>
               
              </div>
              <div class="col col-7  ">
                  <div class="card mx-auto"  style="width: 17rem;" >
                    <div class="view view-cascade overlay">
                      <%= image_tag("#{current_user.get_voted_rapper.image}", size: "300x300", alt: "#{current_user.get_voted_rapper.name}", class: "card-img-top") %>
                    </div>
                    <div class="card-body" style="font-size:20px">
                      <div class="mb-3">
                        <h3><%=current_user.get_voted_rapper.name%></h3>
                      </div>
                    <div class="font-weight-light"> <%=current_user.get_voted_rapper.get_upvotes.size%> voters</div>
                    <div id="button" class="fb-share-button mb-1 mt-1" data-href="https://rapviet.herokuapp.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>

                </div>
          </div>
              </div>
            </div>
          <%end%>
      <%else%>
      <div class="card big-card mt-3" >
        <div class="card-header" style="font-size:25px">
            <div class="row ">
                  <div class="col col-2 text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Rules</button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-body" height="400">
                            <div style="text-align: left; font-size:20px">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal -->
                  </div>
                  <div class="col col-5 text-center">
                    Tổng số lượt bình chọn: <strong><%=User.count%></strong>
                  </div>  
                  <div class ="col col-5 text-center"style="font-size:">Count down: <strong class="" id="demo"></strong></div>  
            </div>  
        </div>
      <%end%>
  </div>
</div>
          
          <hr class="col col-9">
         
  

  <!--after-user-vote view-->

  <!--the rules and clock -->
 

    <div class="row">
      <div class="col col-lg-9 offset-lg-1"
        <%= bar_chart @data, library: {
          legend: {position: "left"},
        }%>
      </div>
    </div>
<br>

<div class="row justify-content-center">
<% @rappers.each do |rapper| %>
          <div class="card m-3 col-lg-auto text-center" >
              <%= image_tag("#{rapper.image}", size: "300x300", alt: "#{rapper.image}", class: "card-img-top") %>
              <div class="card-body">
                <div class="mb-3">
                  <h3><%=rapper.name%></h3>
                  <%if !current_user %>
                    <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Vote</button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-body" height="400">
                              <div style="text-align: left; font-size:20px">
                                <p><strong><%=rapper.name%></strong>: Cảm ơn đã tin tưởng, tôi sẽ không làm bạn thất vọng!!</p> 
                                <p><strong>me</strong>: Để tui sign in xong rồi tui sẽ vote cho ông!! </p>
                              </div>
                              <%=link_to "Sign In by Facebook", user_facebook_omniauth_authorize_path, class:"btn btn-lg btn-primary"%>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Modal -->
                  <%else%>
                    <%if !current_user.voted%>
                      <%= link_to "vote", like_rapper_path(rapper), method: :put, class: "btn btn-default btn-md btn-warning",:data => {:confirm => 'Are you Sure you want to vote for this man?'} %>
                      
                    <%end%>
                  <%end%>
                </div>
                <div class="font-weight-light" style="font-size:20px"> <%=rapper.get_upvotes.size%> lượt bình chọn</div>
              </div>
          </div>
<% end %>
</div>

</div>

