<body>
    <!--/.Navbar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
    <%=link_to "Vote Rapviet", root_path, class: "navbar-brand"%>
    <div class="navbar-nav">
        <% unless current_user %> 
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-outline-light" %>
        <% else %>
        <%= current_user[:name] %>
        <%= link_to "Logout", destroy_user_session_path, class:"btn btn-outline-light" %>
        <% end %>
    </div>
    
    </nav>
    <!--/.Navbar-->
    <%= link_to home_rules_path, :action => 'get' do %>
        <div class="row">
        <div class="col col-lg-10 offset-lg-3"
            <h5>Muốn Là Người May Mắn Giành Được Phần Thưởng Trị Giá 2,000,000đ. Click vào đây để thêm chi tiết</h5>
        </div>
    </div>
    <% end %>

</body>